.Container-current-bgC2Q {
    position: relative;
}

.Container-current-bgC2Q::before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #0af;
    pointer-events: none;
    z-index: 1;
}

.Container-current-bgC2Q::after {
    content: '';
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
    pointer-events: none;
}

.Container-badge-jquDn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Container-badgeTitle-zHdG3 {
    font-size: 11px;
    line-height: 1.2;
    color: #000;
}

.Container-title-ve3T4 {
    line-height: 20px;
}

.Container-container-rcL9O {
    line-height: 0;
}

.Skeleton-root-xLKnK {
    margin-top: 6px;
    line-height: 0;
}

.ProfileSwitchAvatar-root-RcUTX {
    position: relative;
}

.ProfileSwitchAvatar-current-mPRGz {
    position: absolute;
    border-radius: 100%;
    opacity: .5;
    background: #000;
    height: 40px;
    width: 40px;
}

.ProfileSwitchButton-root-ub_gf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ErrorState-root-IBQEa {
    display: flex;
    flex-direction: column;
    padding: 36px 40px 48px;
}

.Container-root-xhDtR {
    display: flex;
    flex-direction: column;
    max-height: 554px;
}

.Container-header-TPevY {
    padding: 36px 40px 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.Container-header-TPevY.Container-withSearchInput-YEOsI {
    padding-bottom: 24px;
}

.Container-header-TPevY.Container-scrolled-JFFcq {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05), 0 4px 24px rgba(0, 0, 0, .12);
}

.Container-list-AR94l {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
    padding-top: 8px;
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
    padding-bottom: 44px;
}

/* Spacer doesn't have option grow to parent flex */
/* stylelint-disable-next-line */
.Container-list-AR94l > *:nth-child(2) {
    flex-grow: 1;
}

.Container-list-AR94l.Container-withSearchInput-YEOsI {
    min-height: 402px;
}

.Container-container-jkrqs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
}

/* stylelint-disable-next-line */
.Container-container-jkrqs > *:not(:last-child) {
    margin-bottom: 8px;
}

.Loader-root-eaWHL {
    display: flex;
    flex-direction: column;
    height: 174px;
    margin-bottom: 16px;
    justify-content: center;
}

.EmptySearchState-root-gNrOH {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.ProfileCard-root-KgCZs {
    padding: 14px 16px;
    border-radius: 12px;
    display: flex;
    cursor: pointer;
    transition: .3s background-color;
}

.ProfileCard-root-KgCZs.ProfileCard-isCurrent-v2LgM {
    cursor: default;
}

.ProfileCard-pending-z_PRb {
    background-color: #cfedff;
}

.ProfileCard-pending-z_PRb:not(.ProfileCard-isCurrent-v2LgM):hover,
.ProfileCard-pending-z_PRb:not(.ProfileCard-isCurrent-v2LgM):active,
.ProfileCard-pending-z_PRb:not(.ProfileCard-isCurrent-v2LgM):focus {
    background-color: #a1dfff;
}

.ProfileCard-warning-AMv2Y {
    background-color: #ffe6e6;
}

.ProfileCard-warning-AMv2Y:not(.ProfileCard-isCurrent-v2LgM):hover,
.ProfileCard-warning-AMv2Y:not(.ProfileCard-isCurrent-v2LgM):active,
.ProfileCard-warning-AMv2Y:not(.ProfileCard-isCurrent-v2LgM):focus {
    background-color: #ffe6e6;
}

.ProfileCard-finalized-XX9L7 {
    background-color: #ede9e1;
}

.ProfileCard-finalized-XX9L7:not(.ProfileCard-isCurrent-v2LgM):hover,
.ProfileCard-finalized-XX9L7:not(.ProfileCard-isCurrent-v2LgM):active,
.ProfileCard-finalized-XX9L7:not(.ProfileCard-isCurrent-v2LgM):focus {
    background-color: #e5dfd3;
}

.ProfileCard-gd-oXyBN {
    background-color: #f7f7f5;
}

.ProfileCard-gd-oXyBN:not(.ProfileCard-isCurrent-v2LgM):hover,
.ProfileCard-gd-oXyBN:not(.ProfileCard-isCurrent-v2LgM):active,
.ProfileCard-gd-oXyBN:not(.ProfileCard-isCurrent-v2LgM):focus {
    background-color: #f2f1f0;
}

.ProfileCardAvatar-root-KH7ln {
    margin-right: 12px;
    position: relative;
    display: flex;
}

.ProfileCardAvatar-container-rY2ta {
    border-radius: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}

